* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.black-container {
    color: white;
    background-color: black;
}

.black-container .info-container-left span,
.black-container .info-container-right span {
    margin-right: 10px;
    vertical-align: middle;
}

.info {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.info span {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-fluid {
    margin-left: 60px;
    margin-right: 60px;
}

.white-container {
    color: black;
    background-color: white;
    font-size: 24px;
    align-items: baseline;
}


.logo {
    width: 169px;
}

.white-container-right,
.white-container-middle {
    display: flex;
    flex-wrap: nowrap;
}

.white-container-middle nav {
    display: flex;
    align-items: center;
}

.white-container-right {
    display: flex;
    flex-wrap: nowrap;
}

.white-container-right span {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}


.nav-link {
    color: black;
    text-decoration: none;
    margin-right: 55px;
    vertical-align: middle;
}

.nav-link:first-child {
    color: lightgreen;
}


.wallpapper {
    background-image: url('https://static.vecteezy.com/system/resources/previews/010/790/980/original/online-shopping-or-delivery-concept-illustration-3d-show-trolley-bags-and-boxes-modern-trendy-design-bright-colors-on-smartphone-free-vector.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 800px;
}

.wallpapper_text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    z-index: 2;
}

.text-item {
    margin-bottom: 10px;
    width: 100%;
}

.large-text {
    font-size: 66px;
}

.green-text {
    color: lightgreen;
    font-size: 54px;
}

.small-text {
    font-size: 38px;
}

.buy-button {
    position: relative;
    background-color: lightblue;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    background: transparent;
    border-style: inset;
    border-left: 10px solid grey;
    border-right: 10px solid black;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    font-size: 20px;
    padding: 15px;
    transition: width 2s;
}

.buy-button::before,
.buy-button::after {
    content: '';
    height: 10px;
    width: 70%;
    position: absolute;
    background-color: black;
    z-index: 2;
    display: block;
}


.buy-button::before {
    bottom: -10px;
    right: -9px;
    background-color: black;
}

.buy-button::after {
    top: -10px;
    right: -9px;
    background-color: black;
}


.wallpapper-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}


.best_sellers_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 270px;
    padding-bottom: 270px;
}

.text_best_tile {
    font-size: 22px;
    color: black;
    font-weight: bold;
}

.text_best_subtile {
    font-size: 15px;
    color: green;
    font-weight: bold;
}

.best_sellers_row_up {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
}

.best_sellers_row_down {
    display: flex;
    background-color: lightgrey;
    padding-left: 60px;
    padding-right: 60px;
}

.best_sellers_column {
    flex: 1;
    display: flex;
}

.best_sellers_column:last-of-type {
    flex: 3;
}

.best_seller_sample {
    flex: 3;
    display: inline-block;
    text-align: center;
    position: relative;
}

.best_seller_sample:hover .best_seller_icons {
    visibility: visible;
}

.best_seller_down_sample {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.best_seller_sample_subtitle {
    color: green;
}

.best_seller_image {
    position: relative;
    top: 0;
    left: 0;
}

.best_seller_icon {
    background-color: green;
    display: block;
    margin-bottom: 3px;
    padding: 2px;
}

.best_seller_icons {
    display: inline-block;
    visibility: hidden;
    padding: 3px;
    top: 0px;
    right: 0px;
    display: block;
    position: absolute;
}

.best_seller_down_sample_title {
    font-size: 25px;
    color: black;
    font-weight: bold;

}

.best_seller_down_sample_subtitle {
    font-size: 12px;
    color: grey;

}