/** Normalization **/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
    width: auto;
}

li {
    display: block;
}

ul {
    padding: 0;
}



/** CUSTOM CODE **/
.footer_info_information_header {
    display: block;

}

.black-container {
    color: white;
    background-color: black;
}

.black-container .info-container-left span,
.black-container .info-container-right span {
    margin-right: 10px;
    vertical-align: middle;
}

.info {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.info span {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-fluid {
    margin-left: 60px;
    margin-right: 60px;
}

.white-container {
    color: black;
    background-color: white;
    font-size: 24px;
    align-items: baseline;
}


.logo {
    width: 169px;
}

.white-container-right,
.white-container-middle {
    display: flex;
    flex-wrap: nowrap;
}

.white-container-middle nav {
    display: flex;
    align-items: center;
}

.white-container-right {
    display: flex;
    flex-wrap: nowrap;
}

.white-container-right span {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}


.nav-link {
    color: black;
    text-decoration: none;
    margin-right: 55px;
    vertical-align: middle;
}

.nav-link:first-child {
    color: lightgreen;
}


.wallpapper {
    background-image: url('https://static.vecteezy.com/system/resources/previews/010/790/980/original/online-shopping-or-delivery-concept-illustration-3d-show-trolley-bags-and-boxes-modern-trendy-design-bright-colors-on-smartphone-free-vector.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 800px;
}

.wallpapper_text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    z-index: 2;
    padding-left: 50px;
    padding-right: 50px;
}

.text-item {
    margin-bottom: 10px;
    width: 100%;
}

.large-text {
    font-size: 66px;
}

.green-text {
    color: lightgreen;
    font-size: 54px;
}

.small-text {
    font-size: 38px;
}

.buy-button {
    position: relative;
    background-color: lightblue;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    background: transparent;
    border-style: inset;
    border-left: 10px solid grey;
    border-right: 10px solid black;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    font-size: 20px;
    padding: 15px;
    transition: width 2s;
}

.buy-button::before,
.buy-button::after {
    content: '';
    height: 10px;
    width: 70%;
    position: absolute;
    background-color: black;
    z-index: 2;
    display: block;
}


.buy-button::before {
    bottom: -10px;
    right: -9px;
    background-color: black;
}

.buy-button::after {
    top: -10px;
    right: -9px;
    background-color: black;
}


.wallpapper-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}


.best_sellers_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text_best_tile {
    font-size: 22px;
    color: black;
    font-weight: bold;
}

.text_best_subtile {
    font-size: 15px;
    color: green;
    font-weight: bold;
}

.best_sellers_row_up {
    display: flex;
    padding: 50px 60px;
}

.best_sellers_row_down {
    padding-top: 10px;
    display: flex;
    background-color: lightgrey;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 10px;
}

.best_sellers_column {
    flex: 1;
    display: flex;
}

.best_sellers_column:last-of-type {
    flex: 3;
}

.best_seller_sample {
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 15px 0;

    >img {
        object-fit: cover;
    }
}

.best_seller_down_sample_middle {
    flex: 3;
    display: flex;
    text-align: center;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.best_seller_sample:hover .best_seller_icons,
.feature_products_sample:hover .best_seller_icons {
    visibility: visible;
}



.best_seller_down_sample {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.best_seller_sample_subtitle {
    color: green;
}

.best_seller_image {
    position: relative;
    top: 0;
    left: 0;
}

.best_seller_icons {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    visibility: hidden;
    padding: 3px;
    top: 0px;
    right: 0px;
    position: absolute;
    list-style-type: none;

    .list-item {
        display: flex;
        padding: 5px;
        background-color: rgba(14, 105, 51, 0.5);
        color: #fff;
        cursor: pointer;
    }
}

.best_seller_down_sample_title {
    font-size: 25px;
    color: black;
    font-weight: bold;
    margin-top: 20px;
}

.best_seller_down_sample_subtitle {
    font-size: 12px;
    color: grey;

}

.collection_marketing_images_container {
    display: flex;
    /*flex-direction: row;  By default display flex comes with flex direction row */
    background-color: #CCCCCC;
    justify-content: center;
    align-items: center;
}

.collection_marketing_images {
    flex: 1;
}



.feature_products_row {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    background-color: white;
}


.feature_products_column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

.feature_products:first-of-type {
    flex: 3;
}

.feature_products_text {
    display: flex;
    flex-direction: column;
    padding-top: 65px;
    padding-bottom: 65px;
}

.feature_products_sample {
    flex: 3;
    display: inline-block;
    text-align: center;
    position: relative;
}

.feature_products_sample:hover .feature_products_icons {
    visibility: visible;
}

.feature_products_icons {
    display: inline-block;
    visibility: hidden;
    padding: 3px;
    top: 0px;
    right: 0px;
    display: block;
    position: absolute;
}

.feature_products_icon {
    background-color: green;
    display: block;
    margin-bottom: 3px;
    padding: 2px;
}

.feature_products_subtitle {
    color: green;
}

.footer_container {
    display: flex;
    flex-direction: column;
}

.special_accounts_container {
    display: flex;
    flex-direction: row;
}

.footer {
    max-width: 1200px;
    margin-left: 150px;
    margin-right: 150px;
}

.footer_info {
    display: flex;
    padding-bottom: 50px;
}

.special_accounts {
    flex: 1;
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 35px 0;
}

.special_accounts_inner {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.special_accounts_title {
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;

}

.special_accounts_subtitle {
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
}

.special_accounts_form {
    margin-top: 20px;
}

.special_accounts_form_btn {
    background-color: green;
    border: 1px solid green;
    padding: 12px;
    color: white;
    font-size: 12px;
}

.special_accounts_form_input {
    padding: 10px;
    width: 300px;
}

.special_accounts_brands {
    flex: 1;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    /** TODO */
    scrollbar-width: none;
}

.special_accounts_brands::-webkit-scrollbar {
    display: none;
    background-color: yellow;
}

.special_accounts_brands img {
    width: 170px;
    height: 170px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.social_media {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
}

.social_media_text {
    flex: 1;
    display: flex;
}

.social_media_icons {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    .material-symbols-outlined {
        margin-right: 25px;
    }
}


.footer_info_information,
.footer_info_help,
.footer_info_contact {
    flex: 1;
}

.footer_info_my_account {
    flex: 1;

}

.footer_info_help {
    flex: 1;

}

.footer_info_contact {
    flex: 1;

}

.star_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    >.star {
        color: goldenrod;
    }
}

/** MEDIA QUERIES **/
@media (max-width: 992px) {


    .white-container-middle nav {
        display: none;
    }

    .special_accounts_inner {
        width: auto;
    }
}